.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.icon {
  object-fit: contain !important;
}
/* ovo izbrisat poslije */
.about-us-content-box-row:nth-of-type(1) .about-us-content-box:nth-child(1) {
  opacity: 0;
  animation: box-1 2.5s forwards;
}
@keyframes box-1 {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.about-us-content-box-row:nth-of-type(1) .about-us-content-box:nth-child(2) {
  opacity: 0;
  animation: box-2 2s forwards;
}
@keyframes box-2 {
  from {
    opacity: 0;
    transform: translateX(15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.about-us-content-box-row:nth-of-type(2) .about-us-content-box:nth-child(1) {
  opacity: 0;
  animation: box-3 2.5s forwards;
}
@keyframes box-3 {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.about-us-content-box-row:nth-of-type(2) .about-us-content-box:nth-child(2) {
  opacity: 0;
  animation: box-4 3s forwards;
}
@keyframes box-4 {
  from {
    opacity: 0;
    transform: translateX(15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
